<div class="blocker">
    <div class="blocker-content">
        <img src="/assets/device-rotate.png" class="rotate-device">
        <span class="blocker-content-copy">Please rotate your device to landscape orientation</span>
    </div>
</div>


<app-navigation></app-navigation>
<app-banner></app-banner>
<app-gallery></app-gallery>
<app-about></app-about>
<app-contactme></app-contactme>



<div class="navigator">
    <div class="dot active"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
</div>
