.banner { 
  background-image: url("/assets/intro-bg.jpg");
  height: 80vh; 
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: ;
}