<div class="about">
    <div><img src="/assets/profile-picture.jpg" class="rounded-circle profile-picture"></div>
    <div class="title">ABOUT ME</div>
    <hr style="width: 100px;">
    <div class="byline">
        I am an interactive photographer and designer penchant for creating<br>high visual impact digital experiences.<br><br>
        I grew up in San Juan, Puertorico and currently reside in Arlington, Texas.
    </div>

    <div style="margin-top: 70px;" class="title">EXPERIENCE</div>
    <hr style="width: 100px;">

    <circle-progress
    [percent]="85"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
    
</div>



