<div class="about">
    <span class="small">something</span>
    <span class="big">about me</span>
    <hr>
    <div class="aboutme">
         There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.                 
        <!-- <div class="mt-4">
            <a href="https://instagram.com/mralbelo"><i class="fa fa-instagram fa-2x px-2" style="color:#DDDDDD;" aria-hidden="true"></i></a>
            <a href="https://facebook.com/mralbelo"><i class="fa fa-facebook fa-2x px-2" style="color:#DDDDDD;" aria-hidden="true"></i></a>
            <a href="https://500px.com/mralbelo"><i class="fa fa-500px fa-2x px-2" style="color:#DDDDDD;" aria-hidden="true"></i></a>
            <a href="https://www.youtube.com/channel/UCpKngOtTqUZIzXSfA0vHD6A"><i class="fa fa-youtube-play fa-2x px-2" style="color:#DDDDDD;" aria-hidden="true"></i></a>
        </div>   -->
        
        <div class="wrapper mt-3">
            <a href="https://instagram.com/mralbelo" class="instagram"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
            <a href="https://facebook.com/mralbelo" class="facebook"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
            <a href="https://www.youtube.com/channel/UCpKngOtTqUZIzXSfA0vHD6A" class="youtube"><i class="fa fa-youtube-play fa-lg" aria-hidden="true"></i></a>
            <a href="https://500px.com/mralbelo" class="500px"><i class="fa fa-500px fa-lg" aria-hidden="true"></i></a>
            <a href="https://api.whatsapp.com/send?phone=17879010777" class="whatsapp"><i class="fa fa-whatsapp fa-lg" aria-hidden="true"></i></a>
        </div>

    </div>
    

</div>



