<div class="contactme">
  <div class="title">CONTACT ME</div>
  <hr style="width:100px">
  <div class="byline" style="margin-bottom:40px;">If you would like to say hello or work with me on a project feel free to contact me</div>


  <form class="form">
    <div class="form-group" style="position: relative;">
        <input placeholder=" " id="name" class="form-control" name="name">
        <div class="floater"></div>
    </div>

    <div class="form-group" style="position: relative;margin-top:30px;">
        <input placeholder=" " id="lastname" class="form-control" name="lastname">
        <div class="floater"></div>
    </div>

    <div class="form-group" style="position: relative;margin-top:30px;">
        <input placeholder=" " id="phone" class="form-control" name="phone" type="tel">
        <div class="floater"></div>
    </div>

    <br>

    <div class="form-group" style="position: relative;margin-top:30px;">
        <input placeholder=" " id="email" class="form-control" name="email" type="email">
        <div class="floater"></div>
    </div>

    <div class="form-group" style="position: relative;margin-top:30px;">
        <input placeholder=" " id="subject" class="form-control" name="subject" type="text">
        <div class="floater"></div>
    </div>

    <div class="form-group" style="position: relative;margin-top:30px;">
        <input placeholder=" " id="message" class="form-control" name="message" type="text">
        <div class="floater"></div>
    </div>

    <div style="text-align:right; margin-top: 20px;">
      <a href="#" class="submit">Submit <i class="fa fa-paper-plane" aria-hidden="true"></i></a>
    </div>

  </form>

  <div class="socialmedia">
    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-500px" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
  </div>

  <div *ngFor="let format of formatsDateTest"  class="byline copy">&copy; 2018 {{today | date:'yyyy'}} Juan Albelo. All Rights Reserved</div>

</div>
