<div class="gallery">
<span class="title">LATEST WORKS</span>
<hr>
<!-- <div class="btn-group" data-toggle="buttons">
    <label class="btn work-menu active">
      <input type="radio" name="options" id="option1" autocomplete="off" checked> All
    </label>
    <label class="btn work-menu">
      <input type="radio" name="options" id="option2" autocomplete="off"> Outdoor
    </label>
    <label class="btn work-menu">
      <input type="radio" name="options" id="option3" autocomplete="off"> Studio
    </label>
</div> -->
    <div style="max-width:1200px; margin:auto;">
        <img src="/assets/Gallery/IMG_4936.JPG">
        <img src="/assets/Gallery/IMG_5080.JPG">
        <img src="/assets/Gallery/IMG_5536.JPG">
        <img src="/assets/Gallery/IMG_5641.JPG">
        <img src="/assets/Gallery/IMG_5741.JPG">
        <img src="/assets/Gallery/IMG_6182.JPG">
        <img src="/assets/Gallery/IMG_6515.JPG">
        <img src="/assets/Gallery/IMG_8142-Edit.JPG">
        <img src="/assets/Gallery/IMG_8795.JPG">
    </div>
</div>

