.gallery{
    text-align: center;
    padding: 100px;
    width: 100vw;
    height: 100vh;
    background: black;
}

img {
    object-fit: cover;
    width: 280px;
    height: 280px;
    margin: 8px 4px;
    box-shadow: 0 4px 13px rgba(0, 0, 0, 0.4);
 }

 img:hover {
    opacity: .8;
 }

 a{
    padding: 0 12px;
    opacity: .8;
    cursor: pointer;
 }

 a:active{
    font-weight: 600;
    text-decoration: underline;
    opacity: 1;
 }

 a:hover{
     opacity: 1;
 }

 .grid-container{
    max-width: 1200px;
    margin: auto;
    text-align: left;
    height: calc(100vh - 303.5px);
    overflow: auto;
    margin-top: 15px;
 }

 .grid-container::-webkit-scrollbar {
    width: 10px;
 }
 
 .grid-container::-webkit-scrollbar-track {
    background: #0e0e0e;
 }
 
 .grid-container::-webkit-scrollbar-thumb {
    background: #424242; 
    border-radius: 40px;
 }
 