<div class="gallery">
<h1>PORTFOLIO</h1>
    <div style="max-width:1200px; margin:auto;">
        <img src="/assets/Gallery/IMG_4936.JPG">
        <img src="/assets/Gallery/IMG_5080.JPG">
        <img src="/assets/Gallery/IMG_5536.JPG">
        <img src="/assets/Gallery/IMG_5641.JPG">
        <img src="/assets/Gallery/IMG_5741.JPG">
        <img src="/assets/Gallery/IMG_6182.JPG">
        <img src="/assets/Gallery/IMG_6515.JPG">
        <img src="/assets/Gallery/IMG_8142-Edit.JPG">
        <img src="/assets/Gallery/IMG_8795.JPG">
    </div>

</div>

